#section-3 {
	background-color: var(--bluegray);
    color: var(--lavender);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	padding-left: 20%;
    padding-right: 20%;

	p{
		text-align: right;
	}

	h1{
		padding-left: 15%;
		padding-right: 15%;
	}
}
